/* ========== GLOBAL STYLES ========= */

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); */

:root {
  --bg-white: hsl(0, 0%, 100%);

  --bg-lt-blue: #e6e7e9;
  --bg-beige: hsl(20, 5%, 88%);
  --blue-medium: hsl(189, 46%, 54%);
  --blue-highlight: #7acfdf;
  --accent-yellow: hsl(60, 80%, 71%);
  --accent-purple: hsl(250, 14%, 40%);
  --dark-purple: hsl(250, 16%, 30%);
  --black-purple: hsl(251, 16%, 21%);
  --medium-black-purple: hsl(235.38461, 11%, 23%);

  --medium-black: hsl(235.38461, 10%, 25%);
  --black-almost: hsl(0, 0%, 15%);
  --btn-medium-green: hsl(178.03279, 54%, 44%);
  --bg-white-blue: hsl(220, 100%, 99%);
  --bg-grey: hsl(240, 5%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* === Local Roboto Fonts | weight doesn't work in FF === */

/* @font-face {
  font-family: "robotoregular";
  src: url(../fonts/roboto-regular-webfont.woff2) format("woff2"),
    url(../fonts/roboto-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "roboto-variable";
  src: url(../fonts/roboto-variable.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
} */

body {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #e4e4e4;
}

/* input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

input::placeholder {
  color: #969696;
}

textarea::placeholder {
  color: #969696;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-shadow: 1px 2px 2px #c6c6c6;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px #c6c6c6;
}

input[type="submit"] {
  width: 100%;

  background-color: #282a35;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 2px #c6c6c6;
}

input[type="submit"]:hover {
  background-color: #ffeb5e;
  color: black;
}

/* .col-25 {
  float: left;
  width: 25%;
  margin-top: 1rem;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 1rem;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
  }
} */

/* ========== BODY STYLES ========= */

/* ========== BODY CONTAINER  ========= */

#container-body-main {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
  background-color: var(--bg-white);
  padding: 1.4em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px 10px 0 0;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-weight: 400;
  font-style: normal;
}

/* ====== FOOTER ====== */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  min-width: 250px;
  min-height: 200px;
  padding: 1rem 4rem 2rem 4rem;
  background-color: #282a35;
  border-top: 4px solid #ffeb5e;
  color: white;
  border-radius: 0 0 10px 10px;
  margin: 0rem 0.5rem 0 0.5rem;
  gap: 1rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.footer-item a:link {
  color: white;
  text-decoration: none;
}

.footer-item a:visited {
  color: white;
  text-decoration: none;
}

.footer-item a:hover {
  color: #ffeb5e;
  text-decoration: none;
}

.footer-item ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-item h3 {
  margin-bottom: 0px;
  /* color: #ffeb5e; */
}

.footer-logo img {
  height: 50px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

/* ========== HEADER ========= */

header {
  padding: 10px 20px;
}

header .wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  height: 60px;
  display: block;
}

/* ============ PAGE CONTENT FORMATTING ============ */

.about-container {
  margin: 2rem 0.5rem 0rem 0.5rem;
}

.contact-form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0.5rem 0rem 0.5rem;
}

.card-left-txt h2 {
  text-align: center;
}

.contact-left-inner-bg {
  min-width: 320px;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  height: 100%;
  box-shadow: 1px 2px 2px #c6c6c6;
}

.contact-form-left-container {
  flex: 40%;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 2rem;
  /* border-radius: 12px 0 0 0; */
}

.contact-form-left-container a {
  color: #282a35;
}

.contact-form-fields {
  flex: 58%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 100;
  padding: 2rem 2rem 2rem 1rem;
  background-color: #e4e4e4;
}

.contact-form-fields-2 {
  flex: 58%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0rem 2rem 1rem 1rem;
  background-color: #e4e4e4;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#success-img img{
  background-color: white;
  padding: 0.6rem;
  border-radius: 12px;
  box-shadow: 1px 2px 2px #c6c6c6;

}

.success h2 {
  font-size: 2.4rem;
  margin-bottom: 0;
  color: #282a35;
}

.success p {
  font-size: 1.2rem;
}

.success button {
  background-color: white;
  margin-top: 1rem;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10px;
  transition-duration: 0.4s;
  box-shadow: 1px 2px 2px #c6c6c6;
}

.success button:hover {
  background-color: #ffeb5e;
}
/* ========== NAVIGATION BAR ========= */

.nav-logo {
  content: url("../img/logo/logo-black-775px.webp");
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: left 0.3s;
}

nav {
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar .show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.navbar ul a {
  all: unset;
  cursor: pointer;
}

.navbar ul a:hover {
  color: #b8001f;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}

.close-nav button {
  all: unset;
  background: #f7f7f7;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: #444444;
}

.close-nav button:hover {
  color: #222222;
  background: white;
}

/* ========== MENU BAR/ MENU ICON ========= */

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}

.menu-bar i::after {
  /* color: #282a35; */

  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: white;
}
.menu-bar button:hover i {
  border-color: #222222;
}

/* ========== BODY CONTAINER  ========= */

/* #container-body-main {
  max-width: 1400px;
  min-width: 320px;
  margin: auto;
  background-color: var(--bg-white);
  padding: 1.4em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px 10px 0 0;
} */

/* ======== ABOUT PAGE BIO PROFILE ========== */

.about-profile {
  display: flex;
  flex-wrap: wrap;
  /* border-radius: 12px; */
  /* background-color: #282a35; */
  /* margin: 0.5rem 0.5rem 0rem 0.5rem; */
}

.about-photo {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px 0 0 12px;
  background-color: #e4e4e4;
  padding: 2rem 1rem 1rem 1rem;
}

.about-photo-pic img {
  width: 380px;
  border-radius: 50%;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 1px 2px 2px #c6c6c6;
}

/* .about-photo-pic {
} */

.about-profile-text {
  flex: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 2rem 3rem;
  border-radius: 0 12px 12px 0;
  background-color: #282a35;
  border-left: 4px solid #ffeb5e;
}

.about-profile-text p {
  font-size: 1.2rem;
  font-weight: lighter;
  color: white;
}

.about-profile-text h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffeb5e;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.about-profile-text h3 {
  font-size: 2.4rem;
  color: #ffeb5e;
}

/* .about-profile-photo {
  flex: 40%;
  display: flex;
  align-items: center;
  text-align: right;
} */

/* .about-profile-photo img {
  width: 80%;
  border-radius: 50%;
  padding: 0.5rem;
  border-style: solid;
  border-color: #2a628f;
  border-width: 3px;
  background-color: #e4e4e4;
  box-shadow: 5px 5px 5px black;
} */

/* ======== ABOUT CONTAINERS ========== */

/* .about-containers-main > div:nth-of-type(2) {
  background-color: #282a35;
  color: white;
}

.about-containers-main > div:nth-of-type(2) h3 {
  color: #ffeb5e;
} */

/* .about-inner-content > div:nth-of-type(2) {
  background-color: #282a35;
  color: white;  margin-top: 1rem;

} */

.about-containers {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: #2a2a2d;
  margin-top: 1rem;
  /* padding: 1rem; */
}

/* .about-containers > div::{
  border-radius: 0;
  box-shadow: none;
} */

.about-inner-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 12px;
  box-shadow: 1px 2px 2px #c6c6c6;
  background-color: #e4e4e4;
}

.about-inner-content-dark {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 12px;
  box-shadow: 1px 2px 2px #c6c6c6;
  background-color: #282a35;
  color: white;
}

.about-containers-main {
  /* margin-top: 1rem; */
  /* background-color: red; */
  /* border-radius: 12px 12px 0px 0px; */
}

.about-container-left {
  width: 45%;
  margin-right: 2rem;
}

.about-container-right h5 {
  line-height: 0rem;
  margin-bottom: 0;
  color: #ffeb5e;
}

.about-container-right {
  width: 45%;
}

.about-containers h3 {
  color: #2a628f;
}

/* ========== HOMEPAGE INSTA | PHOTO AND TEXT ========= */

.insta-profile {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}

.insta-photo {
  flex: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-left: 4px solid #ffeb5e;
  width: 100%;
  min-height: 400px;
  border-radius: 0 10px 10px 0;
  background-image: url(../img/homepage/calgary-temp.jpg);
}

.insta-photo-02 {
  flex: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 400px;
  border-radius: 10px 0 0 10px;
  background-image: url(../img/homepage/riley-shooting-500px.jpg);
}

.insta-text {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: #282a35;
  color: white;
  border-radius: 10px 0 0 10px;
}

.insta-text-02 {
  flex: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #13293d;
  color: white;
  border-radius: 0 10px 10px 0;
  border-left: 0.5rem solid white;
}

.pulledquote {
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.insta-text button {
  /* background-color: #fed33f; */
  background-color: white;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insta-text button:hover {
  background-color: #ffeb5e;
}

/* ====== BULLET POINT CARDS || ALT GRID METHOD ====== */

.card-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #e4e4e4;
  /* border-radius: 10px 10px 0px 0px; */
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.card-gallery-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-column-2 {
  flex: 25%;
  max-width: 23%;
  padding: 1em;
  background-color: #ffffff;
  margin: 0.5em;
  border-radius: 6px;
  box-shadow: 1px 2px 2px #c6c6c6;
}

.card-column-2 > h2 {
  text-align: center;
}

.card-column-2 a {
  color: #282a35;
}

.card-column-2 a:hover {
  color: #b8001f;
}

.card-highlight-2 {
  width: 100%;
  height: 140px;
  background-color: #ffeb5e;
  align-content: center;
  text-align: center;
}

/* ========== LIGHTBOX GALLERY ========= */
/* ========== MOSAIC FLEX WRAP ========= */

.lbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.lbox-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.lbox-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.lbox-gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column layout */

@media screen and (max-width: 1250px) {
  .about-profile-photo img {
    width: 80%;
    /* border-radius: 12px; */
  }

  .about-photo-pic img {
    width: 350px;
  }

  .about-profile-photo {
    text-align: center;
  }

  .card-column-2 {
    flex: 50%;
    max-width: 48%;
  }

  /* .about-profile-photo {
    flex: 50%;
  }

  .about-profile-text {
    flex: 50%;
  } */
}

/* Responsive layout - makes a two column layout */
@media screen and (max-width: 1000px) {
  .lbox-column {
    flex: 50%;
    max-width: 50%;
  }

  .about-photo-pic img {
    width: 320px;
  }

  .card-column-2 {
    flex: 50%;
    max-width: 48%;
  }

  /* header .logo img {
    height: 46px;
  } */

  .footer-logo img {
    height: 46px;
  }

  .lbox-container {
    margin-top: 0.5rem;
  }

  body {
    margin: 1rem;
  }
}

/* Responsive layout - makes a 1 column layout*/

@media screen and (max-width: 900px) {
  .card-column-2 {
    flex: 100%;
    max-width: 99%;
  }

  /* .insta-photo {
    border-radius: 0;
  }

  .insta-text {
    border-radius: 0;
  } */
}

@media screen and (max-width: 800px) {
  .about-photo {
    border-radius: 12px 12px 0 0;
  }

  .about-profile-text {
    border-radius: 0 0 12px 12px;
  }

  .insta-photo {
    border-left: none;
    border-radius: 0;
  }

  .insta-text {
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
  }

  .about-photo-pic img {
    width: 150px;
  }

  #container-body-main {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  .about-container-left {
    width: 100%;
    margin-right: 0;
  }

  .about-container-right {
    width: 100%;
  }

  .lbox-column {
    flex: 100%;
    max-width: 100%;
  }

  .contact-form-left-container {
    padding: 0;
  }

  .contact-left-inner-bg {
    min-width: 280px;
    border-radius: 0;
  }

  .contact-form-container {
    padding: 1rem 0 0 0;
  }

  .insta-photo {
    border-top: solid 4px #ffeb5e;
    border-left: none;
    border-radius: 0;
  }

  .insta-text {
    border-radius: 0;
  }

  header .logo img {
    height: 46px;
  }

  .footer-logo img {
    height: 36px;
  }

  .lbox-container {
    margin-top: 0.2rem;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px;
    margin-bottom: 0;
    margin: 0;
  }

  body {
    margin: 0;
  }

  header {
    padding-top: 1.4rem;
  }
}

/* ==========  MY NAVIGATION BAR STYLES ========= */

.navbar a.active {
  color: brown;
}

/* ==========  NEW NAV BAR MEDIA QUERIES ========= */

@media (min-width: 1000px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}

/* ==========  DEBUGGING ========= */
